{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <a class="btn btn-primary" href="{{path('app_home')}}">Home</a>
    <h1>Edit an offer</h1>
    {{ form(form)}}
  </div>
{% endblock %}